/* 文字用のカラー */
$font-blue: #3CCACE;
$font-white: #fff;
$font-gray: #333;
$font-gray2: rgb(51, 51, 51);

/* 背景用のカラー */
$bg-blue: #3CCACE;
$bg-red: red;
$bg-gray: #f8f8f8;
$bg-white: #fff;
$bg-black: #272727;


/* ボーダー用のカラー */
$bdr-gray: #eee;
$bdr-gray-arrow: #565656

