.mypage__side
  .side__wrapper
    %p.side__title 設定
    .side__list
      %ul
        %li.side__list--link
          =link_to user_path(current_user.id) do
            マイページ
        %li.side__list--link
          =link_to edit_user_path(current_user.id) do
            本人情報確認
        %li.side__list--link
          =link_to user_destinations_path(current_user.id) do
            お届け先住所登録
        %li.side__list--link
          =link_to new_user_credit_path(current_user.id) do
            クレジットカード 登録
        %li.side__list--link
          = link_to destroy_user_session_path,method: :delete, class: 'btn' do
            ログアウト
