.mypage__side
  .side__wrapper
    %p.side__title 設定
    .side__list
      %ul
        %li.side__list--link
          =link_to "#" do
            プロフィール
        %li.side__list--link
          =link_to "#" do
            お届け先住所変更
        %li.side__list--link
          =link_to "#" do
            クレジットカード
        %li.side__list--link
          =link_to "#" do
            ログアウト
