.mypage__side
  .side__wrapper
    %p.side__title 設定
    .side__list
      %ul
        %li.side__list--link
          =link_to "#" do
            プロフィール
        %li.side__list--link
          =link_to user_destinations_path(1) do
            お届け先住所登録
        %li.side__list--link
          =link_to user_credits_path(1) do
            クレジットカード
        %li.side__list--link
          = link_to destroy_user_session_path,method: :delete, class: 'btn' do
            ログアウト
