-# 仮置きのボタンたち

.user-edit
  %h7 ユーザーの編集はこちらから 
  %p
    = link_to user_path(current_user.id) do
      ユーザー編集
.bottom
  %h8 ログアウトはこちらから 
  = link_to destroy_user_session_path,method: :delete, class: 'btn' do
    ログアウト
  %h9 トップページに戻ります
  = link_to root_path, class: 'btn' do
    トップに戻る
